<% provide(:title, "Help") %>
<h1>Help</h1>
<p>  Get help on the Ruby on Rails Tutorial at the
  <a href="http://railstutorial.jp/help">Rails Tutorial help section</a>.
  To get help on this sample app, see the
  <a href="http://railstutorial.jp/book"><em>Ruby on Rails Tutorial</em>
  book</a>.
</p>
<a href="http://localhost:3000/static_pages/home">Home</a>
<a href="http://localhost:3000/static_pages/about">About</a>
<a href="http://localhost:3000/static_pages/contact">Contact</a>
